* {
    font-family: sans-serif;
}
h1 {
    color: #A9A9A9;
    text-align: center;
}
body {
    background: #EFEFEF;
}
#calc {
    text-align: center;
    width: 320px;
    height: 350px;
    margin: 0 auto;
}

table {
    background: #EFEFEF;
    border: 10px solid #A9A9A9;
    height: 350px;
    margin: 0 auto;
    width: 320px;
    padding: 10px;
    border-radius: 10%;
}

th {
    border: 5px solid #A9A9A9;
    background-color: #ff3B3F;
    color: white;
    border-radius: 5%;
}

td {
    width: 75px;
    border: 2px solid #A9A9A9;
    color: #A9A9A9;
    font-weight: bold;
}

td:hover {
    color: white; 
    background-color: #A9A9A9;
    border: 2px solid white;
}

.operator {
    background-color: #CAEBF2;
}